/* Mengatur gaya dasar untuk seluruh halaman */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Sans-Serif;
    color: #fff;
}

/* Menyeting foto sebagai latar belakang dan menyesuaikan tampilannya */
body {
    background-image: url('syil.jpg'); /* Ganti 'background.jpg' dengan nama file gambar latar belakang Anda */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Memastikan latar belakang menutupi seluruh layar */
}

/* Mengatur gaya untuk kontainer utama */
.container {
    text-align: center;
    padding: 30px;
    background: rgba(0, 0, 0, 0.5); /* Menambahkan latar belakang semi-transparan untuk meningkatkan keterbacaan teks */
    border-radius: 10px;
    margin: auto;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Gaya untuk judul */
h1 {
    font-size: 3em;
    margin: 0;
}

/* Gaya untuk paragraf */
p {
    font-size: 1.3em;
}
